body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 2rem;

    background: #94b2e3;
}

.nav-item {
    font-size: 1.5rem;
}

#logo {
    font-weight: bold;
    font-size: 2rem;
}

#banner {
    background: linear-gradient(45deg, blue, red);
    padding: 2rem;
}

.banner-text {
    color: white;
    font-size: 1.5rem;

    text-align: center;
}

#banner-title {
    font-weight: bold;
    font-size: 2rem;
}

#cart {
    text-align: center;
    
    margin: 2rem;
}

#total-items, #total-price {
    font-weight: bold;
}

#items {
    padding-left: 10%;
    padding-right: 10%;
}

.item {
    border: 3px solid black;
    border-radius: 10px;

    display: flex;
    height: 12rem;

    margin-bottom: 1rem;
}

.item-image {
    padding: 1rem;
}

.item-description {
    flex: 1;

    padding: 1rem;
}

.item-name {
    font-weight: bold;
    font-size: 2rem;
}

.item-price {
    font-style: italic;
}

.item-button {
    padding: 1rem;
}

.item-button > button {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}
