body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 2rem;

    background: #94b2e3;

    
    border-bottom: 3px solid black;
}

.nav-item {
    font-size: 1.5rem;
    flex: 1;

    text-align: center;
}

#logo {
    font-size: 2rem;
    flex: 2;
    font-weight: 600;
}

#banner {
    background: linear-gradient(45deg, blue, red);

    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text {
    color: #ffffff;
}

#banner-title {
    font-size: 2rem;
    font-weight: bold;
}

#cart {
    padding: 2rem;
    text-align: center;
}

#total-count, #price {
    font-weight: bold;
}

#items {
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

.item {
    display: flex;
    flex-direction: row;
    
    height: 12rem;

    border: 3px solid black;
    border-radius: 10px;

    margin-bottom: 2rem;
}

.item-image {
    padding: 1rem;
}

.item-image > img {
    height: 100%;
}

.item-description {
    padding: 1rem;

    flex: 1;
}

.item-name {
    font-weight: bold;
    font-size: 2rem;
}

.item-price {
    font-style: italic;
}

.item-button {
    text-align: center;
    padding: 1rem;

    width: 8rem;
}

.item-button > button {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}


